
.container {
  &.container-full-width {
    width: 100%;
  }
}

.no-outer-padding {
  padding-left: 0px !important;
  padding-right: 0px !important;
}

.no-padding-left {
  padding-left: 0px !important;
}

.no-padding-right {
  padding-right: 0px !important;
}

.tooltip > .tooltip-inner {
  color: #fafafa;
  font-family: "proxima-nova";
  font-size: 15px;
  font-weight: 600;
  line-height: 30px;
}

.aria-custom-hidden,
%aria-custom-hidden {
  font-size: 0px;
  width: 1px;
  height: 1px;
  display: inline-block;
  position: absolute !important;
  border: 0 !important;
  padding: 0 !important;
  margin: 0 !important;
}

%outer-background {
  &::before {
    content: " ";
    position: absolute;
    width: 100%;
    height: 100%;
    box-shadow: 0 1px 9px -9px rgba(0, 0, 0, 0.9);
    background-color: #f2f2f4;
    right: 99%;
    top: 0;
  }

  &::after {
    content: " ";
    position: absolute;
    width: 100%;
    height: 100%;
    box-shadow: 0 1px 9px -9px rgba(0, 0, 0, 0.9);
    background-color: #f2f2f4;
    left: 99%;
    top: 0;
  }
}

.access-status {
  margin-left: 8px;
  display: inline-block;
  padding: 0 1.5rem;
  border-radius: 5px;
  color: white;
  font-size: 13px;
  height: 24px;
  vertical-align: middle;
  font-family: "PT Sans";
  text-transform: capitalize;

  &.closed,
  &.embargoed,
  &.restricted,
  &.subscription {
    background-color: #d04b4b;

    &::before {
      font-weight: 400;
      content: "\f30d";
      padding-right: 6px;
    }
  }

  &::before {
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    font-family: $font-awesome-version;
  }

  &.open,
  &.gold,
  &.gratis,
  &.green,
  &.libre {
    background-color: #29b153;

    &::before {
      font-weight: 400;
      content: "\f3c2";
      padding-right: 6px;
    }
  }
}
