/**
 * SelectBoxIt custom styling
 */

%select-box-it-icon {
  top: 0;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  font-family: $font-awesome-version;
  font-weight: 300;
  color: rgba($base-color, 0.75);
  padding-right: 6px;
  position: absolute;
  font-size: 14px;
}

%select-box-it-list-item-text {
  font-family: $font-family-elevated;
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  text-align: left;
  letter-spacing: normal;
  line-height: normal;
  padding: 6px 14px;
}

%select-box-it {
  .selectboxit-list > .selectboxit-focus > .selectboxit-option-anchor {
    background-image: none;
    background-color: transparent;
  }

  ul.selectboxit-list {
    &.selectboxit-options {
      -webkit-border-radius: 4px;
      -moz-border-radius: 4px;
      border-radius: 4px;
      box-shadow: 0 1px 2px rgba(0, 0, 0, 0.08);
      border: 0px;
      min-width: 114px;
      width: 100%;
      margin-top: 1px;

      .selectboxit-option-first,
      .selectboxit-option-last {
        -webkit-border-radius: 0px;
        -moz-border-radius: 0px;
        border-radius: 0px;
      }

      li {
        color: $base-color;

        a {
          @extend %select-box-it-list-item-text;
          color: $base-color;
        }

        &:hover {
          color: $white-base;
          background-color: $base-color;

          a {
            color: $white-base;
          }
        }
      }
    }

    .selectboxit-option-icon-container {
      display: none;
    }
  }
  
  &.DESC {
    .selectboxit-arrow-container {
      i {
        &::before {
          @extend %select-box-it-icon;
          content: "\f161";
        }
      }
    }
  }

  &.ASC {
    .selectboxit-arrow-container {
      i {
        &::before {
          @extend %select-box-it-icon;
          content: "\f160";
        }
      }
    }
  }

  span[id^="edit-sort-order"],
  span[id^="edit-sort-order--"],
  span#edit-sort-orderSelectBoxItContainer,
  #edit-sort-order--2SelectBoxItContainer {
    border-top-right-radius: 0px !important;
    border-bottom-right-radius: 0px !important;

    .selectboxit-hover {
      background-color: rgba($base-color, .75);
      border-top-left-radius: 4px;
      border-bottom-left-radius: 4px;
      border: none;

      i {
        &::before {
          color: $white-base !important;
        }
      }
    }

    #edit-sort-order--2SelectBoxIt,
    #edit-sort-orderSelectBoxIt,
    span[id^="edit-sort-order"],
    span[id^="edit-sort-order--"] {
      max-width: 33px;
    }

    .selectboxit .selectboxit-arrow-container .selectboxit-arrow {
      padding-left: 12px;
    }
  }

  span[id^='edit-sort-by'],
  #edit-sort-by--2SelectBoxItContainer,
  #edit-sort-bySelectBoxItContainer {
    border-top-left-radius: 0px !important;
    border-bottom-left-radius: 0px !important;
    border-left: 0px !important;

    .selectboxit-arrow-container {
      i {
        &::before {
          @extend %select-box-it-icon;
          content: "\f0dc";
        }
      }
    }
  }

  span[id^='edit-changed'].selectboxit-container.selectboxit-container,
  #edit-changed--2SelectBoxItContainer {
    min-width: 114px;

    .selectboxit-arrow-container {
      i {
        &::before {
          @extend %select-box-it-icon;
          content: "\f251";
        }
      }
    }
  }

  .selectboxit .selectboxit-arrow-container .selectboxit-arrow {
    position: relative;
    top: auto;
    padding-left: 15px;
    border: none;
  }

  .selectboxit-container:not(.selectboxit-default-icon) {
    border: 1px solid rgba($base-color, 0.1);
    background-color: $white-base;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;

    &[aria-expanded=true] {
      border: 1px solid rgba($base-color, 0.25);
    }

    .selectboxit-btn.selectboxit-enabled:hover,
    .selectboxit-btn.selectboxit-enabled:focus {
      background-color: transparent;

      .selectboxit-text {
        color: $base-color;
      }

      .selectboxit-arrow-container {
        i {
          &::before {
            color: $base-color !important;
          }
        }
      }
    }

    .form-control,
    .js input.form-autocomplete {
      -webkit-box-shadow: none;
      -moz-box-shadow: none;
      box-shadow: none;
    }

    .selectboxit {
      border: none;
    }

    .selectboxit-arrow-container {
      right: auto;
      left: 0;
    }

    .selectboxit-container.selectboxit-container {
      padding-left: 14px;
      overflow: visible;

      .selectboxit-default-arrow {
        border: none;
      }
    }

    .selectboxit-text {
      padding-left: 7px;
      color: rgba($base-color, 0.75);
      font-family: $font-family-elevated;
      font-size: 14px;
      font-weight: 400;
      text-align: left;
      font-style: normal;
      letter-spacing: normal;
    }
  }
}

.select-wrapper {
  @extend %select-box-it;
}
