// Bootstrap adds float: left, and we want the header to be centered.

@import "../block/_layout.scss";
@import "../block/_media-query.scss";
@import "mobile-header";
@import "navbar-collapse";

header#navbar {
  &.navbar-default {
    background-color: transparent;
    border-color: transparent;
  }
  .navbar-header {
    float: none;
    margin: auto;
  }
}

header {
  &.navbar {
    margin-bottom: 0px;
    border: none;
  }
}

.front-page {
  @media #{$mobile} {
    header {
      position: relative;
      z-index: 1;
      border: 0px;

      .user-info {
        margin-left: 0px;
        right: 3rem;
      }

      .block-dgi-header {
        background-image: $front-bg-lg;
      }
    }
  }

  @media #{$tablet} {
    header {
      position: relative;
      z-index: 1;
      border-bottom: 0px;

      .user-info {
        margin-left: 0px;
      }

      .block-dgi-header {
        background-image: $front-bg-lg;
      }
    }
  }

  @media #{$normal} {
    header {
      position: relative;
      z-index: 1;

      .block-dgi-header {
        background-image: $front-bg-lg;

        .start-container {
          padding-left: 0px !important;
        }
      }
    }
  }

  @media #{$wide} {
    header {
      position: relative;
      z-index: 1;

      .block-dgi-header {
        background-image: $front-bg-lg;

        .start-container {
          padding-left: 0px !important;
        }
      }
    }
  }
}

.not-front {
  .block-dgi-header:not(.block-dgi-user-info) {
    background: $not-front-bg-lg;

    .header-max-width {
      width: 100%;
      max-width: 100%;
      margin-left: auto;
      margin-right: auto;
    }

    &.dgi-header-max-height .container.row.form-group .form-group.start-container a.logo img {
      margin-top: 1.8rem;
      margin-bottom: 2rem;
    }

    .form {
      > form.dgi-header-search-form {
        @extend %search-input;
      }
    }

    .user-info {
      @media (min-width: $screen-md-min) {
        float: right;
        position: absolute;
        right: 0px;
      }

      article {
        @media (min-width: $screen-md-min) {
          span {
            &.displayname {
              display: none;
            }
          }
        }
        @media (max-width: $screen-md-min) {
          span {
            &.displayname {
              display: none;
            }
          }
        }
      }
    }
  }
}

.not-front {
  .block-dgi-header {
    &.dgi-header-max-height {
      .header-max-width {
        margin: auto;
        height: 100%;
      }

      a.upload {
        @extend %unique-button;

        span {
          padding-right: 5px;
        }
      }
    }

    .container.row.form-group {
      padding-left: 0;
      padding-right: 0;
    }

    div.container {
      .start-container {
        padding-left: 0px !important;
      }

      .nav-links {
        ul {
          li {
            a {
              padding: 18px 5px 17px 5px;
            }
          }
        }
      }
    }
  }
}

.block-dgi-header {
  &.dgi-header-max-height {
    .header-max-width {
      margin: 1.5rem auto;
      width: 100%;
      max-width: 100%;
    }

    div.container {
      .logo {
        margin-top: 17px;
        margin-bottom: 17px;

        &:after {
          content: "";
          position: absolute;
          top: 0;
          right: 0;
          bottom: 0;
          left:0;
        }

        &.default-dgi {
          object {
            width: auto;
          }
        }

        object {
          vertical-align: middle;

          svg {
            font-family: proxima-nova-condensed
          }
        }

        img {
          max-height: $dgi-header-max-height;
          font-family: proxima-nova-condensed, sans-serif;
          max-width: 165px;
          padding-top: 33px;
        }
      }

      .container {
        padding-left: 0px !important;
        padding-right: 0px !important;
      }
    }
  }

  .form-group {
    // This vertically centers elements in the header.
    margin-top: auto;
    margin-bottom: auto;

    &.form-type-textfield {
      padding-left: 25px;
    }

    a.upload {
      @extend %unique-button;
    }

    .user-info {
      article {
        .form-group {
          max-width: 40px;
          height: auto;
          max-height: 41px;

          object {
            width: 30px;
            vertical-align: middle;
            max-width: 100%;
            height: 30px;
            border-radius: 50%;

            img {
              width: 30px;
              height: 30px;
            }
          }
        }
      }
    }
  }

  .user-info {
    margin-left: 1.5rem;
    color: $color-light;

    &.login {
      @extend %unique-button;
      border: transparent;
      background-color: transparent;
      margin-left: 0rem;

      span {
        display: block;
        width: 34px;
        height: 34px;
        text-align: right;

        i {
          font-size: 20px;
          vertical-align: middle;
        }
      }

      &:hover {
        border: none;
      }

      @media #{$mobile} {
        padding: 3px 0px 3px 15px;
      }
    }

    &.logout {
      @extend %unique-button;
      pointer-events: all;
      margin-left: 0rem;
      width: auto;
      border: none;
      -webkit-box-shadow: none;
      -moz-box-shadow: none;
      box-shadow: none;
      text-align: right;

      @media #{$mobile} {
        padding: 3px 0px 3px 15px;
      }
    }
  }

  div.container {
    > .form-group {
      display: flex;

      &.end-container {
        pointer-events: none;

        .form-group {
          pointer-events: all;
        }
      }

      &:first-child {
        justify-content: start;
      }
      &:last-child  {
        justify-content: end;
      }
    }

    .logo {
      img {
        height: auto;
        max-height: 100%;
        max-width: 100%;
        width: auto;
      }
    }
    .nav-links {
      display: flex;
      @media (min-width: $screen-md-min) {
        justify-content: center;
      }

      ul {
        padding-right: 20px;

        li {
          display: inline-block;
          float: left;
        
          &:hover,
          &:focus {
            background-color: transparent;
          }

          &.active a {
            background-color: transparent !important;
            border-bottom: 4px solid rgba($white-base, 1);
            color: white;
            border-radius: 0;
          }

          a {
            @extend %menu-link-main-menu;
          }
        }
      }
    }

    .form {
      > form.dgi-header-search-form {
        display: flex;
        position: relative;

        button {
          position: absolute;
          left: 2px;
          background-color: transparent;
          border: none;
          top: -4px;
          height: 34px;
          z-index: 600;
        }

        .form-type-textfield.js-form-type-textfield {
          input {
            padding-left: 35px;
            -webkit-border-radius: 25px;
            -moz-border-radius: 25px;
            border-radius: 25px;
            border-color: $search-border;
            height: 35px;
            color: white;
            position: relative;
          }
        }
      }
    }
    .upload {
      a {
        width: 100%;
        height: 100%;
      }
    }
    .user-info {

      article {
        display: flex;
        cursor: pointer;

        .user-hidden-menu {
          display: none;
        }

        >div.form-group {
          position: relative;
          width: 34px;
          height: 34px;

          img {
            position: absolute;
            top: 0;
            left: 0;
            z-index: 50;
          }
        }

        > * {
          display: inline-block;
          padding-left: 5px;
          padding-right: 0px;
        }
        img {
          border-radius: 50%;
          width: 34px;
          height: 34px;
          border: 1px solid $off-white-base;
        }
        span.displayname {
          flex-direction: column;
          justify-content: center;
        }
      }
    }

    .admin {
      a {
        border-radius: 50%;
        border: 1px solid;
        text-align: center;
        display: table-cell;

        // Fix alignment of the cog icon across browsers.
        &.glyphicon-cog::before {
          content: "\e019";
          display: table-cell;
          position: relative;
          font-size: 16px;
          vertical-align: middle;
          line-height: 29px;
        }
      }
    }
  }
}
