
%mobile-header-menu {
  margin: 0;
  border-top: 1px solid #cdd0d3;

  li {
    a {
      color: $base-color;
      font-family: $body-font-family;
      font-size: 16px;
      font-weight: normal;
      font-style: normal;
      letter-spacing: 0.54px;
      padding: 10px 15px;
    }
  }
}

#navbar {

  a.logo-mobile {
    display: flex;
    padding-top: 3px;

    &.logo::after {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      max-width: 90px;
    }
  }

  .mobile-toggle-wrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;

    .flex-logo {
      a {
        display: flex;
        padding-top: 3px;

        &.logo::after {
          content: "";
          position: absolute;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
          max-width: 90px;
        }
      }
    }

    .navbar-toggle {
      padding: 5px 10px;
      border: none;

      &:hover {
        background-color: transparent;
      }

      i {
        line-height: 32px;
        font-size: 24px;
        width: 22px;
        color: $white-base;
        font-weight: 300;
      }
    }
  }

  #navbar-collapse {
    background-color: $white-base;
    margin: 0;
    padding: 0;
    position: relative;

    ul.menu {
      @extend %mobile-header-menu;
    }

    .block-dgi-header.block-dgi-user-info {
      padding: 17px 0;

      .container.row {
        width: auto;
        text-align: left;

        .content-container {
          justify-content: start;

          .user-name {
            color: $popover-title-color;
            font-family: $body-font-family;
            font-size: 16px;
            font-weight: 500;
            padding-left: 13px;
            line-height: 34px;
          }
        }
      }
    }
  }

  .logo-mobile {
    display: inline-block;

    object {
      padding: 15px 0;
      margin-left: 15px;
    }
  }
}

body:not(.user-logged-in) {
  #navbar-collapse.collapse.in,
  #navbar-collapse.collapsing {
    border: none;

    .block-dgi-header.block-dgi-user-info {
      padding: 0 !important;

      a.user-info {
        color: $base-color;
        position: absolute;
        right: 29px;
        top: 10px;
        z-index: 200;
      }
    }
  }
}

.front-page {
  #navbar {
    .mobile-toggle-wrapper {
      -webkit-transition: background-color ease-in-out $transition-time;
      -moz-transition: background-color ease-in-out $transition-time;
      -ms-transition: background-color ease-in-out $transition-time;
      -o-transition: background-color ease-in-out $transition-time;
      transition: background-color ease-in-out $transition-time;
    }
  }
}

.not-front {
  #navbar {
    .logo-mobile {
      display: flex;
      min-width: 65px;
    }

    .mobile-toggle-wrapper {
      display: flex;
      background-color: $base-color;

      #block-dgiviewsearchform {
        &.block-dgi-header.block-dgi-view-search-form {
          @extend %search-input;
          background-color: transparent;
          margin: 0px 30px 0 40px;
          padding: 12px 0;
          z-index: 599;
          position: relative;

          .form-group.form-type-textfield {
            padding-left: 0;

            input {
              z-index: 599;
            }
          }

          .ui-autocomplete {
            .ui-autocomplete-field-title {
              padding-left: 0px;
            }
            
            .ui-autocomplete-field-field_model {
              display: none;
            }
            
            li.ui-menu-item a img {
              display: none;
            }
          }

          button {
            font-size: 0;
            left: 5px;
            top: 12px;
            z-index: 600;

            span {
              font-size: 16px;
            }
          }
        }
      }
    }
  }
}
