body.page-node-type-islandora-object {

  &.node-islandora-object--non-collection {
    background-color: $off-white-base;
  }

  &.islandora-collection-grid,
  &.islandora-collection-list {
    div.viewer-container {
      padding-top: 0;
      padding-bottom: 0;
    }
  }

  .table-responsive {
    margin-bottom: 0;
  }

  .main-container {
    margin-left: auto;
    margin-right: auto;

    // Make the sidebar scroll separately.
    aside {
      position: sticky;
      top: 1rem;
    }
  }

  div.field--name-field-media-image.field--type-image {
    .field--item {
      img {
        margin-left: auto;
        margin-right: auto;
        width: 100%;
      }
    }
  }

  article.repository-item-top-viewer {
    video, audio {
      width: 100%;
      background-color: black;
    }
  }

  div.viewer-container {
    padding-top: 34px;
    padding-bottom: 34px;

    // This is to make the object title and the views counter vertically
    // centered in the same row of the grid when the screen is wide enough that
    // they display beside each other.
    @media (min-width: $screen-sm) {
      .region-viewer {
        font-size: 0px; // So the inline-block display doesn't add whitespace.

        .page-header {
          @include make-sm-column(9);
          margin: 0px;
          display: inline-block !important;
          vertical-align: middle !important;
          float: none !important;
        }

        section.view-node-views-count-statistics {
          display: inline-block;
          vertical-align: middle;
          float: none;
        }
      }
    }
    article.repository-item-top-viewer .view-id-display_media.view-display-id-service_file {
      video, audio {
        width: 100%;
      }
    }

    ol.breadcrumb {
      padding: 0;
    }
  }

  .region-sidebar-second {
    padding: 0px;
  }

  %page-header {
    border-bottom: none;
    color: #595e62;
    font-family: $font-family-base;
    font-size: 34px;
    font-weight: 400;
    letter-spacing: -0.54px;
    line-height: 48px;
  }
  .page-header {
    @extend %page-header;

    span {
      @extend %page-header;
    }
  }

  .nav-tabs,
  .nav-tabs > li.active > a,
  .nav-tabs > li.active > a:hover,
  .nav-tabs > li.active > a:focus {
    font-size: 14px;
    background-color: $body-background-color;
  }

  .nav-tabs {
    padding: 0px $grid-gutter-width 0px;
    background-color: $block-bg-color;
    border-top: 1px solid $block-border-color;
  }

  .nav > li > a {
    position: relative;
    display: block;
    padding-top: .4rem;
    padding-bottom: .4rem;
  }

  .collection-actions-right {
    .nav-tabs,
    .nav-tabs > li.active > a,
    .nav-tabs > li.active > a:hover,
    .nav-tabs > li.active > a:focus {
      border: 0px;
    }

    .nav-tabs {
      padding-top: 0px;
      padding-bottom: 0px;
      float: right;
    }
  }

  .metadata {
    .form-group {
      margin-bottom: 0;
    }
  }

  .metadata.panel > .panel-heading > .panel-title {
    // XXX: Instead of preprocessing to add classes to the markup, mixin the
    // effects on a targeted selector.
    @include make-md-column-offset(1);
    font-size: 1.5em;
  }

  .view-repository-item-content-blocks.view-display-id-metadata {
    .views-row {
      .views-field {
        line-height: 1.5em;
        margin-top: .5em;
        margin-bottom: .5em;

        .views-label {
          text-align: right;
          font-weight: bold;
        }
      }
    }
  }

  .panel {
    background-color: inherit;
    border: 1px solid $panel-borders;
    box-shadow: none;
    -webkit-box-shadow: none;
    margin-bottom: 24px;
    border-radius: 4px;

    .panel-body, .panel-heading {
      padding-top: 0;
      padding-bottom: 0;
      margin-top: 0;
      margin-bottom: 0;
      margin: 0;
      padding: 0;
    }

    .panel-body {
      border-radius: 4px;

      .field-group-table {
        border-radius: 4px;

        .table-responsive {
          border-radius: 4px;
        }
      }
    }

    .panel-heading {
      background-color: inherit;
      border-bottom: none;

      .panel-title:not(.embargos) {
        color: $block-color-emphasized;
        padding-top: .625rem;
        padding-bottom: .625rem;
      }

      .panel-title {
        margin: 0;
        font-size: 20px;

        &::after {
          width: 18px;
          font-size: 18px;
          line-height: 35px;
          font-weight: 300;
          content: "\f078";
          padding-right: 6px;
          display: inline-block;
          font-style: normal;
          font-variant: normal;
          text-rendering: auto;
          -webkit-font-smoothing: antialiased;
          font-family: $font-awesome-version;
          float: right;
          -webkit-transition: transform .25s ease-in-out;
          -moz-transition: transform .25s ease-in-out;
          -ms-transition: transform .25s ease-in-out;
          -o-transition: transform .25s ease-in-out;
          transition: transform .25s ease-in-out;
          transform-origin: center;
          color: $base-color-high;
        }
        &.collapsed:after {
          transform: rotate(180deg);
        }
      }
    }
  }
}
