.path-solr-search,
.page-node-type-islandora-object {
  overflow-x: hidden;

  .region-sidebar-second,
  .solr-search-content footer {
    .block-block-groupsearch-facet-header,
    .block-blockgroup {
      &.result-facets {
        section {
          &:last-of-type {
            margin-bottom: 0;
          }
        }
      }

      section.add-to-any-block:not(.block-dgi-view-search-form) {
        h2 {
          line-height: 41px;
          margin-top: 0;
          margin-bottom: 0;
          padding: 0;
          width: 100%;
          text-align: left;
          position: relative;
          color: $weak-block-title;
          font-family: $font-family-basic;
          font-size: 16px;
          font-weight: 400;
          letter-spacing: -0.26px;
          background-color: transparent;
          border-bottom: none;
        }
      }

      section:not(.block-dgi-view-search-form) {
        h2 {
          line-height: 53px;
          margin-top: 0;
          margin-bottom: 0;
          width: 100%;
          text-align: left;
          position: relative;
          color: $weak-block-title;
          font-family: $font-family-basic;
          font-size: 16px;
          font-weight: 400;
          letter-spacing: -0.26px;
          padding: 0 15px;
          background-color: $white-base;
          border-bottom: 1px solid rgba(39, 102, 198, 0.05);
        }

        .facet-button,
        .toggle-button {
          border: none;
          background: transparent;
          width: 100%;
          text-align: left;
          padding: 0;

          &::after {
            font-style: normal;
            font-variant: normal;
            text-rendering: auto;
            -webkit-font-smoothing: antialiased;
            font-family: $font-awesome-version;
            font-weight: 400;
            content: "\f078";
            right: 15px;
            position: absolute;
            -webkit-transition: transform .25s ease-in-out;
            -moz-transition: transform .25s ease-in-out;
            -ms-transition: transform .25s ease-in-out;
            -o-transition: transform .25s ease-in-out;
            transition: transform .25s ease-in-out;
            transform-origin: center;
          }

          &.collapsed::after {
            transform: rotate(180deg);
          }
        }

        hr {
          border-color: $facet-border-color;
          margin-left: 27px;
          margin-right: 27px;
          margin-bottom: 0px;
          margin-top: 25px;
        }

        .block-facets {
          margin-bottom: 0px;
        }

        .block-facets:last-of-type {
          hr {
            display: none;
          }
        }

        .facets-widget-checkbox {
          .collapse {
            width: 100%;
          }

          ul {
            list-style-type: none;
            list-style-image: none;
            padding: 9px 15px 0 15px;

            li {
              &.facet-item {
                position: relative;

                input {
                  margin-right: 12px;
                }

                input:checked {
                  &+label {
                    color: $base-color;
                  }
                }

                label {
                  color: $strong-block-title;
                  font-family: $font-family-basic;
                  font-size: 14px;
                  font-weight: 400;
                  line-height: 21px;
                  max-width: 94%;
                }

                .facet-item__count {
                  position: absolute;
                  right: 0;
                }
              }
            }
          }
        }
      }
    }
  }
}
