header#navbar.navbar-default {
  background-color: transparent;
  border-color: transparent;
}

.not-front .block-dgi-header .start-container,
.not-front .block-dgi-header .nav-links {
  width: auto;
}
