/**
 * Default Front-page view search component styling.
 */
@import "_media-query.scss";

%field--name-field-display-block {
  .exposed-search-form {
    margin: auto;
    position: absolute;
    top: 0%;
    left: 0;
    bottom: 0;
    right: 0;
    height: 225px;

    form {
      margin-left: auto;
      margin-right: auto;
      position: relative;
      max-width: 100%;
    }
  }

  .block-title {
    color: rgba($fp-title-color, 1);
    font-family: $font-family-basic;
    font-size: 42px;
    font-weight: 400;
    line-height: 90px;
    margin-top: 0px;
    letter-spacing: -0.01em;
    margin-bottom: 0;
  }

  h2,
  .sub-title {
    color: $white-base;
    font-family: $font-family-basic;
    font-weight: 200;
    margin: 15px auto;
  }

  .form-item {
    &.form-item-member-of-value {
      display: none !important;
    }

    &.form-item-search-api-fulltext.form-type-textfield,
    &.form-type-textfield.form-item-terms {
      display: inline-block;
      max-width: 635px;
      width: 64%;
      margin: auto auto 24px auto;
      position: relative;

      &::before {
        content: "\f002";
        font-family: $font-awesome-version;
        left: auto;
        position: absolute;
        padding-left: 25px;
        color: $base-color-high;
        font-size: 20px;
        font-weight: 300;
        -webkit-transition: color ease-in-out $transition-time;
        -moz-transition: color ease-in-out $transition-time;
        -ms-transition: color ease-in-out $transition-time;
        -o-transition: color ease-in-out $transition-time;
        transition: color ease-in-out $transition-time;
      }

      &.textfield-focused {
        &::before {
          color: $base-color;
        }
      }

      input {
        @extend %input-element-transition;
        display: inline-block;
        border-radius: 45px;
        -webkit-background-size: 19px 20px;
        background-size: 19px 20px;
        background-repeat: no-repeat;
        background-position: 25px center;
        padding-left: 70px;
        line-height: 32px;
        font-size: 32px;
        max-width: 620px;
        border-top-right-radius: 45px !important;
        border-top-left-radius: 45px !important;
        width: 100%;
      }
    }
  }

  .form-actions {
    &[id^="edit-actions"] {
      display: inline-block;
      max-width: 100%;
      width: 100%;
      vertical-align: top;
      margin-top: 2.5rem;

      button {
        margin-right: 6px;
        vertical-align: top;
        display: inline-block;
        padding: 8px 30px;
        height: 48px;
        border-radius: 24px;
        font-size: 20px;
        max-width: 100%;
      }

      button, a {
        @extend %large-button;

        span {
          &.glyphicon {
            &::before {
              font-size: 0px;
            }
          }
        }
      }
    }
  }
}
