#sliding-popup {
  min-height: 72px;

  &.sliding-popup-bottom {
    .eu-cookie-compliance-content {
      max-width: 95%;

      .eu-cookie-compliance-message p {
        color: #fafafa;
        font-family: Montserrat;
        font-size: 14px;
        font-weight: 500;
        line-height: 45px;
      }
    }
  }
}
