/**
 * Default Islandora solr list display styling.
 */

@import "solr-list-header";

.solr-search-content--list--block {
  padding-top: 3rem;

  .view-footer {
    .block,
    .view {
      margin-bottom: 1.5rem;
    }
  }
}

.solr-search-content--list {
  font-family: $body-font-family;

  .solr-search-row-content.col-lg-9 {
    padding-left: 2px !important;
  }

  footer {
    margin-top: 0px;
  }

  .views-display-link {
    color: $list-display-header-color;
  }

  .page-display-switch {
    text-align: right;
  }

  .form-item-search-api-fulltext {
    position: absolute;
    bottom: 100%;
    left: 0;
  }

  .table {
    max-width: 99.9%;

    > tbody {
      > tr {
        background-color: $solr-list-display-tr-background-color;

        a {
          color: $solr-list-display-anchor-color;
        }

        td {
          border-right: 1px dashed $element-border;
          border-top: 0;

          &.views-field-counter {
            color: $result-list-counter;
            font-family: $font-family-elevated;
            font-size: 16px;
            font-weight: 500;
            line-height: 40px;
            text-align: center;
          }

          &.views-field {
            font-size: 14px;
            font-weight: 400;
            vertical-align: middle;
            padding: 0 15px;
            
            ul,
            ol {
              padding-left: 0;
              margin-bottom: auto;

              li {
                display: inline-block;
                border-radius: 4px;
                border: 1px solid rgba(15, 76, 124, 0.1);
                background-color: #fafafa;
                padding: 0px 15px;
                line-height: 24px;
                margin-right: 3px;
              }
            }
          }

          &.views-field-title {
            font-size: 16px;
          }
        }
      }
    }

    > thead {
      > tr {
        a.icon-after .glyphicon,
        a .glyphicon.icon-after {
          margin-left: 7px;
        }

        > th,
        > th a {
          border-bottom: 0;
          color: $list-field-color;
          font-family: $font-family-elevated;
          font-size: 12px;
          font-weight: 700;
          letter-spacing: 0.29px;

          span {
            &.glyphicon {
              font-family: $font-awesome-version;
            }

            &.icon {
              font-weight: 900;

              &.glyphicon-chevron-down::before {
                content: "\f0d7";
                color: rgba($base-color-high, 0.75);
                font-size: 14px;
              }

              &.glyphicon-chevron-up::before {
                content: "\f0d8";
                color: rgba($base-color-high, 0.75);
                font-size: 14px;
              }
            }
          }
        }
      }
    }
  }
}
