/**
 * Media queries for the user content counts view component.
 */

.bootstrap-metadata {
  @media #{$mobile} {
    .panel-body table tr th {
      display: none;
    }

    .panel-body table td label.control-label,
    .panel-body table td .field--label {
      display: block;
      width: 100%;
      font-size: 16px;
      font-weight: 400;
      font-style: normal;
      letter-spacing: normal;

      &:after {
        content: ":";
      }
    }
  }

  @media #{$tablet} {
    .panel-body table tr th {
      display: none;
    }

    .panel-body table td label.control-label,
    .panel-body table td .field--label {
      display: block;
      width: 100%;
      font-size: 16px;
      font-weight: 400;
      font-style: normal;
      letter-spacing: normal;

      &:after {
        content: ":";
      }
    }
  }

  @media #{$normal} {
    .panel-body table tr th {
      display: none;
    }

    .panel-body table td label.control-label,
    .panel-body table td .field--label {
      display: block;
      width: 100%;
      font-size: 16px;
      font-weight: 400;
      font-style: normal;
      letter-spacing: normal;

      &:after {
        content: ":";
      }
    }
  }

  @media #{$wide} {
    .panel-body table tr th {
      display: block;
    }

    .panel-body table td label.control-label,
    .panel-body table td .field--label {
      display: none;
    }
  }
}
