@import "_media-query.scss";

.bootstrap-metadata {
  .panel-body {
    padding: 0px;

    .table-responsive {
      border: none;
    }

    table {
      margin-bottom: 0px;
      tr,
      tr th {
        font-family: $font-family-elevated, "Open Sans", Helvetica, Arial, sans-serif;
        color: $block-color-emphasized;

        a {
          text-decoration: underline;
        }

        &.odd {
          background-color: $block-bg-color;
        }

        &.even {
          background-color: #fafafa;
          margin-right: 1rem;
        }

        .field--item {
          display: inline-block;
          &:not(:last-child) {
            &::after {
              content: ",";
            }
          }
        }
      }
      th {
        text-align: right;
        border-top: none;
        font-weight: 300;
        border-right: solid $block-border-color 1px;
        white-space: nowrap;
      }

      td {
        border-top: none;
        color: $block-color-text;
        font-weight: 300;
        width: 100%;

        .control-label {
          display: none;
        }
      }

      th,
      td {
        padding-left: 2.4rem;
        padding-right: 2.4rem;
      }
    }
  }
}
