/**
 * Fixes for the gin theme.
 */

.toolbar-oriented .toolbar-bar {
  z-index: 700;
}

.toolbar .toolbar-bar .toolbar-menu .toolbar-logo {
  height: auto;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

#toolbar-item-administration-tray .toolbar-menu .toolbar-logo {
  padding-top: 2px;
  padding-bottom: 2px;
}
