@import "media-query";

%autocomplete {
  // Overriding styles provided by the menu module.
  .ui-menu .ui-menu-item-wrapper {
    padding: 0;
  }

  // Override styles provided by the autocomplete module.
  ul[data-sa-theme="basic-blue"] {
    min-width: 50px;
  }

  ul[data-sa-theme].ui-autocomplete {
    box-shadow: 0 10px 8px rgba(0, 0, 0, 0.1);
    border-radius: 35px;
    border: 1px solid $autocomplete-border;
    background-color: $off-white-base;
    margin-left: 0;
    padding: 5px 0 0 0;
    min-width: 50px;

    > li.ui-menu-item.ui-state-focus .ui-autocomplete-fields > *,
    > li.ui-menu-item:hover .ui-autocomplete-fields > * {
      color:  $base-color;
    }

    &.ui-autocomplete {
      border-top-left-radius: 0px;
      border-top-right-radius: 0px;
      border-top-color: transparent;
      padding-top: 0;
      max-width: calc(100%); // Same max width as the text input element, minus its outside padding values.

      .ui-menu-item {
        color: $base-color;
        font-family: $font-family-elevated;
        font-size: 16px;
        font-weight: 500;
        line-height: 24px;
        padding: 0 20px;

        a {
          color: $base-color;
        }
      }

      li:last-of-type {
        padding: 0px 20px 0px 20px;

        a {
          .ui-autocomplete-fields {
            border-top: none !important;
          }
        }
      }

      li {
        .ui-autocomplete-fields {
          position: relative;
          border-top: 1px solid rgba(54, 99, 168, 0.1);
          padding: 15px 0 15px 0;

          &.first.ui-menu-item-wrapper {
            padding: 20px 0 15px 0;

            &:hover {
              padding: 20px 0 15px 0 !important;
            }

            .ui-autocomplete-field-field_model {
              top: 24px;
            }
          }

          &.first:not(.ui-menu-item-wrapper) {
            text-align: center;
            vertical-align: middle;
            padding: 5px 0 16px 0;

            &:hover {
              padding: 5px 0 16px 0 !important;
            }

            .ui-autocomplete-field {
              border-radius: 24px;
              background-color: $base-color-high;
              color: #f2f2f4;
              font-family: $font-family-basic;
              font-size: 20px;
              font-weight: 400;
              letter-spacing: -0.4px;
              line-height: 34px;
              padding: 5px 30px;
              font-style: normal;
            }
          }

          >a {
            display: inline-block;
            vertical-align: middle;
          }

          >div {
            display: inline-block;
            vertical-align: middle;
          }
        }

        .ui-autocomplete-field-field_model {
          border-radius: 10px;
          background-color: $base-color-high;
          color: #ffffff;
          font-family: $font-family-elevated;
          font-size: 12px;
          font-weight: 400;
          padding: 3px 9px;
          letter-spacing: 0.58px;
          position: absolute;
          right: 0;
          top: 20px;
        }

        .ui-autocomplete-field-title {
          padding-left: 17px;
          max-width: 75%;
          overflow: hidden;
          padding-right: 17px;
          text-overflow: ellipsis;
        }

        .ui-autocomplete-field-view {
          display: inline-block;
          vertical-align: middle;
        }

        .ui-menu-item-wrapper {
          &.ui-state-active {
            border-left: none;
            border-right: none;
            border-bottom: none;
            background: transparent;
            font-weight: normal;
            color: $base-color;
            margin: auto;
          }
        }

        a {
          img {
            width: 60px;
            height: 30px;
            box-shadow: 0 1px 1px rgba(0, 0, 0, 0.16);
            border-radius: 8px;
            object-fit: cover;
          }
        }
      }
    }
  }

  ul[data-sa-theme].ui-autocomplete > li.ui-menu-item.ui-state-focus,
  ul[data-sa-theme].ui-autocomplete > li.ui-menu-item:hover {
    background: transparent;
    border-top-color: transparent;
    color: $base-color;
    padding: 0px 20px 0px 20px;

    .ui-autocomplete-field-field_model {
      color: #ffffff;
    }
  }

  ul[data-sa-theme].ui-autocomplete > *,
  ul[data-sa-theme].ui-autocomplete > .ui-state-focus,
  ul[data-sa-theme].ui-autocomplete > :hover {
    border-color: transparent;
    border-top-color: transparent;
    border-width: 1px 0px 0 0px;
    border-style: none;
    margin: 0px;
    padding-top: 0;
    background: transparent;
  }
}

.block-views.block-views-exposed-filter-blocksolr-search-content-page-1 {
  @extend %autocomplete;

  input.autocomplete-open {
    border-bottom-left-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
    border-top-left-radius: 30px !important;
    border-top-right-radius: 30px !important;
    background-color: #fafafa !important;
    border-bottom: none !important;

    &:focus {
      border: none !important;
      border-bottom: none !important;
      -webkit-box-shadow: none !important;
      -moz-box-shadow: none !important;
      box-shadow: none !important;
    }
  }
}

.not-front {
  .dgi-header-search-form {
    @extend %autocomplete;

    ul[data-sa-theme].ui-autocomplete {
      &[data-sa-theme="basic-blue"] {
        max-width: 100%;
        min-width: 100%;
      }

      &.ui-autocomplete li .ui-autocomplete-fields.first:not(.ui-menu-item-wrapper) .ui-autocomplete-field {
        font-size: 16px;
        letter-spacing: 0.26px;
        padding: 3px 25px;
      }
    }
  }
}

.dgi-header-search-form {
  @extend %autocomplete;

  ul[data-sa-theme].ui-autocomplete {
    z-index: 598;
    background-color: white;
    border: none;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    margin-right: auto;

    &.ui-autocomplete {
      li {
        &.ui-menu-item:last-of-type {
          background-color: transparent;
        }

        &.ui-menu-item {
          a {
            img {
              width: 60px;
              height: 30px;
              box-shadow: 0 1px 1px rgba(0, 0, 0, 0.16);
              border-radius: 8px;
            }
          }
        }
      }
    }

    .ui-autocomplete-field-group.ui-state-disabled.ui-menu-divider.ui-widget-content {
      margin-top: -20px;
      padding-top: 20px;
      background-color: white;
    }
  }
}
