.search-facet-blocks {
  border-top: 1px solid $search-facet-blocks-border-top-color;

  .block-facets {
    display: inline-block;

    .block-title,
    h3 {
      font-family: $body-font-family;
      font-size: 12px;
      font-weight: bold;
      line-height: 30px;
      color: $search-facet-block-header-color;
      margin: 0px;
      padding-left: 3px;
    }

    .facets-widget-dropdown {
      select {
        font-family: $body-font-family;
        font-size: 14px;
        font-weight: 500;
        line-height: 30px;
        color: $search-facet-block-header-color;
        padding: 7px;
        margin: 0px;
      }
    }
  }
}
