/**
 * Media queries for the user login component.
 */

body {
  &.path-user {
    @media #{$mobile} {
      #auth_box {
        width: 80%;
      }
    }

    @media #{$tablet} {
      #auth_box {
        width: 50%;
      }
    }

    @media #{$normal} {
      #auth_box {
        width: 25%;
      }
    }

    @media #{$wide} {
      #auth_box {
        width: 25%;
      }
    }
  }
}
