

.block-sidebar-menu,
%sidebar-menu,
.block-latest-collections {
  border: 1px solid #e2e6eb;
  background-color: $block-bg-color;

  h2 {
    height: 41px;
    color: $block-color-emphasized;
    font-family: $font-family-base;
    font-size: 16px;
    font-weight: 500;
    line-height: 41px;
    margin: 0.75rem 1em;
  }

  ul.menu,
  .view-content .item-list ul {
    margin: 0 1rem 1rem 1rem;
    padding-left: 0px;

    li {
      background-color: rgba(54, 99, 168, 0.1);
      list-style-type: none;
      list-style-image: none;

      ::marker {
        display: none;
      }

      a {
        color: #3a6ab4;
        font-family: $font-family-elevated;
        font-size: 14px;
        font-weight: 500;
        line-height: 20px;

        i {
          padding-right: .75rem;
          color: #3663a8;
          font-size: 14px;
          font-weight: 400 !important;
          line-height: 28px;
        }
      }
    }

    li:nth-child(2n) {
      background-color: #fafafa;
    }
  }

  // Add font awesome fonts for this menu's list.
  .view-content .item-list ul {
    li {
      span.field-content {
        display: block;
        width: 100%;

        a {
          position: relative;
          color: #3a6ab4;
          font-family: $font-family-elevated;
          font-size: 14px;
          font-weight: 500;
          line-height: 20px;
          padding: 10px 15px;
          display: block;
          
          &:hover {
            text-decoration: none;
            background-color: #eeeeee;
          }


          &::before {
            padding-right: .75rem;
            content: "\f5fd";
            font-family: "Font Awesome 5 Pro";
            font-size: 14px;
            font-weight: 400 !important;
            line-height: 28px;
          }
        }
      }
    }
  }
}
