.browse-by-type {
  background-color: transparent;

  h2 {
    height: 41px;
    color: #717579;
    font-family: $font-family-basic;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: -0.26px;
    line-height: 41px;
  }

  ul.menu,
  ul.item-list__links {
    background-color: transparent;
    text-align: center;
    padding-left: 0px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);

    li {
      display: inline-block;
      text-align: center;
      padding: 0 5px;

      &.facets-reset {
        span.facet-item__status {
          display: none;
        }
      }

      a {
        font-family: "proxima-nova";
        color: $base-color-high;
        font-size: 14px;
        font-weight: 500;
        text-align: center;
        position: relative;
        display: block;
        line-height: 27px;

        .facet-item__value {
          display: block;
          border: 1px solid transparent;
          padding: 0 2px;
          text-transform: capitalize;
        }

        &.is-active {
          .facet-item__value {
            border: 1px solid $base-color-high;
            border-radius: 2px;
          }
        }

        .facet-item__count {
          vertical-align: top;
          width: 100%;
          display: inline-block;
          height: 19px;
          font-size: 12px;
          border-radius: 10px;
          line-height: 20px;
          text-align: center;
          padding-top: 5px;
          font-weight: 400;
          
          span {
            color: white;
            background-color: $base-color-high;
            padding: 2px 8px;
            display: inline-block;
            border-radius: 10px;
            line-height: 14px;
            letter-spacing: 0.58px;
          }
        }

        &:hover {
          text-decoration: none;
          background-color: transparent;
        }

        i {
          color: $base-color-high;
          font-family: $font-awesome-version;
          font-size: 24px;
          font-weight: 300;
          line-height: 30px;
          width: 100%;
          padding-top: 5px;
        }
      }
    }
  }
}
