.view-citation {
  .view-content {
    padding: 1rem;
    background-color: #dee9f3;
    margin: 0rem 1rem 1rem;

    .field-content {
      color: #2f3234;
      font-family: "proxima-nova";
      font-size: 14px;
      line-height: 20px;
      font-weight: 300;

      textarea {
        width: 100%;
        margin-bottom: .75rem;
      }

      .clipboardjs-button {
        color: #ffffff;
        font-family: "proxima-nova";
        font-size: 14px;
        font-weight: 500;
        letter-spacing: 0.2px;
        padding-top: 0px;
        padding-bottom: 0px;

        i {
          padding-right: .75rem;
        }
      }
    }
  }
}
