.block-dgi-view-search-form {
  .block-title {
    padding: 31px 0 19px 15px;
    color: $strong-block-title;
    font-family: $font-family-basic;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    margin: 0;

    i {
      font-size: 20px;
      text-align: right;
      float: right;
      padding-top: 2px;
      color: $base-color-high;
      cursor: pointer;
      -webkit-transition: color ease-in-out $transition-time;
      -moz-transition: color ease-in-out $transition-time;
      -ms-transition: color ease-in-out $transition-time;
      -o-transition: color ease-in-out $transition-time;
      transition: color ease-in-out $transition-time;

      &:hover {
        color: $base-color;
      }
    }
  }

  .dgi-views-search-form {
    position: relative;

    .form-type-textfield {
      input {
        border: 1px solid rgba($base-color, 0.25);
        background-color: rgba($base-color, 0.1);
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        border-radius: 4px;
        height: 31px;
        padding-left: 31px;
      }
    }

    button {
      position: absolute;
      top: 0;
      left: 0;
      background-color: transparent;
      font-size: 0;
      height: 31px;
      border: none;
      color: $base-color;

      span {
        font-size: 14px;
        top: 4px;
        position: absolute;
        
        &.glyphicon {
          display: none;
        }
      }
    }
  }
}
