.language-switcher.block {
  color: #3a3b3c;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 400;
  line-height: 34px;

  .block-title {
    font-family: "Montserrat";
    font-weight: 700;
    font-size: 16px;
    line-height: 34px;
    margin: 8px auto;
  }
  
  .block-title,
  .dropdown-language-item {
    display: inline-block;

    .btn-default {
      &.dropdown-toggle {
        border-color: transparent;
        background-color: transparent;
      }
    }

    &.btn-group.open .dropdown-toggle {
      -webkit-box-shadow: none;
      -moz-box-shadow: none;
      box-shadow: none;
    }

    button {
      border: none;
      background-color: transparent;



      .caret {
        border-top: 8px dashed;
      }
    }
  }
}


