%view-latest-update-view-display {
  display: inline-block;
  width: 100%;
}

.block-latest-update,
.view-latest-update {
  &.latest-update-obj {
    background-color: transparent;
    text-align: left;

    .view-content {
      background-color: transparent;
      margin: 0;

      .field-content {
        font-family: "PT Sans";
      }
    }
  }
  background-color: #f2f2f4;
  text-align: center;

  &.view {
    @extend %view-latest-update-view-display;
  }

  .view-content {
    background-color: white;
    margin: 1rem;

    .field-content {
      color: #43474a;
      font-family: "proxima-nova";
      font-size: 16px;
      line-height: 50px;

      .last-text {
        font-weight: 600;
      }

      .last-updated {
        font-family: "proxima-nova";
        font-weight: 500;
      }
    }
  }
}
