.view-node-views-count-statistics {
  .view-content {
    .field-content {
      color: $block-color-emphasized;
      font-family: $font-family-base;

      .field-content-node-count {
        padding: .85rem 0px;
      }

      .node-count-count {
        display: inline-block;
        font-size: 24px;
        font-weight: 400;
        line-height: 30px;
        vertical-align: middle;
      }

      .node-count-text {
        display: inline-block;
        vertical-align: middle;
        font-family: $font-family-elevated;
        font-size: 14px;
        letter-spacing: normal;
        font-weight: 400;
        line-height: 30px;
        padding-left: 2px;
      }
    }
  }
}

.repository-content-items {
  .node-count-stats-block {
    background-color: $block-bg-color;
    text-align: center;

    &.view {
      @extend %view-latest-update-view-display;
    }

    .view-content {
      background-color: white;
      margin: 1rem;
    }
  }
}
