.all-attached-media {
  .views-row {
    padding: 0 .25rem;
    background-color: transparent;

    .views-field {
      thead {
        display: none;
      }

      &.views-field-mid {
        padding-bottom: 1rem;
        padding-left: .75rem;

        .field-content {
          display: inline-block;
          border: 1px solid black;
          border-radius: 4px;
          background-color: #fafafb;

          a {
            padding: 0 15px;
            font-size: 14px;
            color: black;
          }
        }
      }
    }
  }

  .views-row:nth-child(2n) {
    background-color: #fafafb;
  }
}
