
.solr-search-content {
  .container.footer-content {
    position: relative;
    min-height: 3em;

    .spinner {
      position: absolute;
      top: 0em;
      bottom: 0em;
      right: 0em;
      left: 0em;
      margin: auto;
      width: 16px;
      height: 16px;
    }
  }
}
