// XXX: Import so we can extend .form-autocomplete with .form-control because
// weird JQuery stuff is done by the search_autocomplete Drupal module. Without
// that module, the search bar gets the .form-control class, but when using that
// module, that .form-control class doesn't seem to get applied, so extending it
// is the easiest way to keep its styling.
@import "../../../bootstrap/assets/stylesheets/bootstrap/_forms.scss";
/*
 * Override the styles included in the Search Autocomplete module.
 */

/* Input box */
.js input.form-autocomplete {
  @extend .form-control;
}

/* Suggestion menu style */
ul[data-sa-theme].ui-autocomplete {
  box-shadow: rgba(0, 0, 0, 0.498039) 0px 0px 15px;
  background: white;
  border-bottom: 1px solid #bfbfbf;
  text-align: left;
  font-family: inherit;
  width: auto;

  /* Suggestion menu elements */
  > *,
  > *.ui-state-focus,
  > *:hover {
    border-color: #bfbfbf;
    border-width: 1px 0px 0 0px;
    border-style: solid;
    margin: 0px;
  }

  /* Suggestion group header */
  > div.ui-autocomplete-field-group {
    opacity: 1;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    font-size: 0.8em;
    background-color: #CCCCCC;
    margin: 0px;
  }

  /* Suggestion menu items */
  > li.ui-menu-item {
    background: white;

    a.ui-menu-item-wrapper,
    a.ui-menu-item-wrapper:hover {
      padding: 0;
      &.ui-state-active {
        margin: 0px;
        border: none;
      }
    }

    /* Suggestion menu items hovering */
    &.ui-state-focus,
    &:hover {
      background: $brand-primary;
      border-top-color: $brand-primary;
      color: white;
    }
  }

  /* Searched term whithin a suggestion item */
  .ui-autocomplete-field-term {
    font-weight: bold;
    border-bottom: 1px dotted;
  }

  /* Suggestion item fields */
  .ui-autocomplete-fields {
    > *:first-child {
      font-weight: bold;
      color: black;
    }
    > * {
      font-size: 0.85em;
      line-height: 1.3em;
      color: #6f6f6f;
    }
  }

  /* Suggestion "no result" and "more resul" customizations */
  > div.ui-autocomplete-field-group.no_results + li.ui-menu-item,
  > div.ui-autocomplete-field-group.more_results + li.ui-menu-item {
    padding: 0px;
  }
  > div.ui-autocomplete-field-group.no_results + li.ui-menu-item .ui-autocomplete-fields > *:first-child,
  > div.ui-autocomplete-field-group.more_results + li.ui-menu-item .ui-autocomplete-fields > *:first-child {
    font-weight: normal;
    text-align: center;
    font-style: italic;
  }
}
