@import "media-query";

$content_counts_bg_color: rgba($content-counts-bg-color, 0.56);

%total-count-text-style {
  color: $white-base;
  font-family: $font-family-elevated;
  font-size: 16px;
  line-height: 40px;
  letter-spacing: 0.68px;
  font-weight: 500;
}

%item-count-text-style {
  color: $white-base;
  font-family: $font-family-elevated;
  font-size: 16px;
  line-height: 40px;
  letter-spacing: 0.68px;
  font-weight: 500;
}

.content-counts-block {
  background: $content_counts_bg_color 0% 0% no-repeat padding-box;
  min-height: 60px;
  position: absolute;
  left: 0;
  bottom: 0;
  display: inline-block;
  width: 100%;

  .block-content-outer {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 60px;

    .block-content-inner {
      width: 100%;
    }
  }
  .form-group {
    .contextual-region {
      >div.views-row {
        display: inline-block;
        font-size: 0;
        border: none;
      }
    }
  }

  .field-content {
    color: white;
  }

  .views-row {
    text-align: left;
    font-size: 0;

    display: inline-block;
    border: none;

    .field-content {
      @extend %total-count-text-style;
    }
  }
  
  .views-element-container {
    font-size: 0px;
    display: inline-block;
    vertical-align: middle;

    &.form-group {
      margin-bottom: 0;
    }

    .field-content {
      @extend %item-count-text-style;
    }
    div.views-element-container:not(:first-child)
    > div {
      .views-row {
        text-align: center;
      }
    }
  }
}
