/**
 * Default Islandora solr list display styling.
 */

@import "media-query";

%solr-result-header-text-defaults {
  color: rgba($base-color, 0.75);
  font-family: $font-family-elevated;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.2px;
  line-height: 26px;

  &:hover {
    color: $base-color;
  }
}

%views-display-link {
  font-size: 0;
  display: flex;
  padding: 0 5px;
  align-items: center;

  &:hover {
    text-decoration: none;

    &::before {
      background-color: $white-base;
      border: 1px solid rgba($base-color, 0.25);
      border-radius: 4px;
    }
  }

  &.is-active {
    color: $solr-search-display-header-display-active-color;

    &::before {
      background-color: $white-base;
      border: 1px solid rgba($base-color, 0.25);
      -webkit-border-radius: 4px;
      -moz-border-radius: 4px;
      border-radius: 4px;
      color: rgba($base-color, 1);
    }
  }

  &::before {
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    font-family: $font-awesome-version;
    font-weight: 300;
    font-size: 20px;
    padding: 0 4px;
    border: 1px solid transparent;
  }
}

body {
  &.page-node-type-islandora-object {
    .display-links {
      float: right;
    }
  }
}

.solr-search-content {
  &.no-facets-selectable {
    header {
      .facet-hide-show-label {
        display: none;
      }
    }
  }

  header {
    .view-actions {
      justify-content: right;
      display: flex;

      a,
      i {
        align-items: center;
        display: flex;

        &.fal {
          padding: 0px;
          color: rgba($base-color, .75);
          cursor: pointer;
          font-weight: 300;
          font-size: 20px;
          line-height: 26px;

          &::before {
            font-style: normal;
            font-variant: normal;
            text-rendering: auto;
            -webkit-font-smoothing: antialiased;
            font-family: $font-awesome-version;
            font-weight: 300;
            font-size: 20px;
            padding: 0 4px;
            color: rgba($base-color, .75);
            background-color: $white-base;
            border: 1px solid rgba($base-color, 0.25);
          }

          &.active {
            &::before {
              color: rgba($base-color, 0.5);
              border: 1px solid transparent;
              border-radius: 4px;
              background-color: transparent;
            }
          }
          
          &.disabled {
            cursor: default;
          }

          &:hover {
            color: rgba($base-color, 1);

            &::before {
              border: 1px solid rgba($base-color, 0.25);
              background-color: $white-base;
              border-radius: 4px;
            }
          }

          &:not(.active),
          &.disabled {
            text-decoration: none;

            &::before {
              border-radius: 4px;
            }
          }
        }
      }
    }

    .form-inline {
      font-size: 0;

      .form-item:not(.form-type-select) {
        font-size: 0;
      }
    }

    .solr-search-header {
      width: 100%;
      text-align: center;
    }

    .search-summary,
    .solr-search-header,
    > h2,
    > span {
      display: inline-block;
      vertical-align: middle;

      a {
        &.active {
          color: rgba($base-color, 0.25);
          border-radius: 4px;
          border: 1px solid rgba($base-color, 0.1);
          background-color: $white-base;
          padding: 5px 7px;
          
          &:hover {
            text-decoration: none;
          }
        }
      }
    }

    > h2 {
      @extend %solr-result-header-text-defaults;
      margin-top: 10px;
    }
    
    .entity-blocks {
      .bef-exposed-form .form--inline > .form-item {
        float: none !important;
      }
    }

    .filter-btn-wrapper {
      justify-content: right;
      display: flex;
      align-items: center;

      .filter-btn {
        align-items: center;
        display: flex;
        color: rgba($base-color, 0.75);
        font-family: $font-family-elevated;
        font-size: 14px;
        font-weight: 400;
        letter-spacing: 0.2px;
        line-height: 30px;
        border: 1px solid rgba($base-color, 0.25);
        max-height: 34px;
        background-color: $off-white-base;
        border-radius: 3px;
        padding: 0 15px;

        &:hover {
          color: $base-color;
          border: 1px solid rgba($base-color, 0.5);
          text-decoration: none;
          box-shadow: 0 1px 1px rgba(0, 0, 0, 0.16);
        }

        &.active {
          color: rgba($base-color, 1);
          border: 1px solid rgba($base-color, 0.25);
          text-decoration: none;
          box-shadow: 0 1px 1px rgba(0, 0, 0, 0.16);
        }

        &:focus {
          text-decoration: none;
        }
      }
    }

    .facet-hide-show-label {
      -webkit-border-radius: 3px;
      -moz-border-radius: 3px;
      border-radius: 6px;
      height: 34px;
      line-height: 30px;
      font-size: 14px;
      font-family: $body-font-family;
      font-weight: 500;
      background-color: transparent;
      -webkit-transition: background-color $transition-time ease-in-out;
      -moz-transition: background-color $transition-time ease-in-out;
      -ms-transition: background-color $transition-time ease-in-out;
      -o-transition: background-color $transition-time ease-in-out;
      transition: background-color $transition-time ease-in-out;

      &.btn {
        padding: 1px 12px;
      }
    }

    input[type=checkbox]:checked~.facet-hide-show-label,
    .facet-hide-show-label:hover {
      box-shadow: 0 1px 2px rgba(0, 0, 0, 0.16);
    }

    .search-facet-blocks {
      max-height: 0px;
      -webkit-transition: max-height $transition-time ease-in-out;
      -moz-transition: max-height $transition-time ease-in-out;
      -ms-transition: max-height $transition-time ease-in-out;
      -o-transition: max-height $transition-time ease-in-out;
      transition: max-height $transition-time ease-in-out;

      .block-facets {
        opacity: 0;
        -webkit-transition: opacity $transition-time ease-in-out;
        -moz-transition: opacity $transition-time ease-in-out;
        -ms-transition: opacity $transition-time ease-in-out;
        -o-transition: opacity $transition-time ease-in-out;
        transition: opacity $transition-time ease-in-out;
      }
    }

    input[type=checkbox] {
      display: none;
    }

    input[type=checkbox]:checked~.search-facet-blocks {
      max-height: 100vh;

      .block-facets {
        opacity: 1;
      }
    }

    .search-summary {
      h2 {
        @extend %solr-result-header-text-defaults;
        margin-top: 10px;
      }
    }
    
    .solr-search-header {
      a {
        padding: 0 10px;
        @extend %solr-result-header-text-defaults;
      }
    }

    .display-links {
      a:first-of-type {
        @extend %views-display-link;

        &::before {
          content: "\f00a";
        }
      }

      a:last-of-type {
        @extend %views-display-link;

        &::before {
          content: "\f03a";
        }
      }

      a {
        @extend %solr-result-header-text-defaults;
      }
    }
  }
}
