%styled-checkbox {
  input[type=checkbox] {
    appearance: none;
    display: none;
  }
  input[type='checkbox'] + label {
    font-size: 0;
    line-height: 18px;
    display: inline-block;
    vertical-align: middle;

    span {
      font-size: 14px;
      line-height: 18px;
    }
  }

  input[type='checkbox'] + label:before {
    content: '\f0c8';
    font-family: $font-awesome-version;
    font-weight: 100;
    font-size: 18px;
    display: inline-block;
    vertical-align: middle;
    color: rgba(39, 102, 198, 0.5);
    padding-right: 10px;
  }

  input[type=checkbox]:checked + label:before {
    content: '\f14a';
    font-family: $font-awesome-version;
    font-weight: 100;
    font-size: 18px;
    display: inline-block;
    vertical-align: middle;
    color: rgba(39, 102, 198, 0.75);
  }
}

.facet-item {
  @extend %styled-checkbox;
}
