/**
 * Styling used for the recent uploads view display.
 */

.front-page {
  .recent-uploads {
    .block-title {
      margin-top: 0px;
    }
  }
}

.recent-uploads,
.solr-search-content {
  &.block-views .block-title {
    color: $text-color-dark;
    font-family: $font-family-basic;
    font-size: 34px;
    font-weight: 400;
    letter-spacing: -0.54px;
    line-height: 50px;
  }

  article {
    >h2 a {
      color: $text-color-dark;
      font-family: $font-family-basic;
      font-size: 20px;
      font-weight: 500;
      line-height: 28px;
    }
  }

  .views-field {
    &.views-field-created,
    &.upload-date,
    &.views-field-field-date-submitted {
      color: $text-color-light;
      font-family: "PT Sans";
      font-size: 14px;
      font-weight: 400;
      line-height: 50px;
    }

    &.views-field-title,
    &.title,
    &.views-field-title-1 {
      .field-content,
      .field-content a {
        color: $text-color-dark;
        font-family: $font-family-basic;
        font-size: 20px;
        font-weight: 600;
        line-height: 28px;
      }
    }

    &.views-field-field-creator,
    &.creator {
      color: $text-color-light;
      font-family: "PT Sans";
      font-size: 14px;
      font-weight: 400;
      line-height: 50px;
    }

    &.views-field-field-abstract,
    &.description {
      color: $text-color-medium;
      font-family: $font-family-basic;
      font-size: 16px;
      font-weight: 400;
      line-height: 28px;
    }

    .recent-upload-header {
      padding-bottom: 14px;

      .recent-upload-version:not(.Dataset),
      .recent-upload-version.empty {
        display: none;
      }
      
      div,
      span {
        display: inline-block;
        vertical-align: middle;
      }

      .recent-upload-version {
        background-color: $recent-upload-bg;
        border-radius: 3px;
        padding: 0 1rem;
        height: 34px;
        color: $color-extra-light;
        font-family: $font-family-elevated;
        font-size: 12px;
        font-weight: 400;
        line-height: 25px;
        text-transform: uppercase;
        max-height: 24px;
        vertical-align: middle;
        
        &.empty {
          display: none;
        }

        span {
          padding-right: .75rem;

          i {
            &::before {
              color: #fafafa;
              font-size: 12px;
              letter-spacing: 0.17px;
            }
          }
        }
      }

      .recent-upload-date {
        color: $recent-upload-bg;
        font-family: "PT Sans";
        font-size: 14px;
        font-weight: 700;
        padding-left: .5rem;
      }
      
      .recent-upload-view {
        float: right;
        box-shadow: 0 1px 1px rgba(0, 0, 0, 0.06);
        border: 1px solid #999b9e;
        background-color: $color-extra-light;
        border-radius: 5px;
        padding: 0 1.5rem;

        a {
          color: $text-color-dark;

          span {
            padding-left: .5rem;
            color: $text-color-dark;
            font-family: $font-family-elevated;
            font-size: 14px;
            font-weight: 300;
            height: 28px;
          }
        }

      }
    }

    .research-output-row-footer {
      text-transform: capitalize;
      
      div {
        display: inline-block;
        padding: 0 1.5rem;
        border-radius: 5px;
        color: white;
        font-size: 12px;
        height: 24px;
        vertical-align: middle;
        font-family: "PT Sans";

        &.output-type {
          background-color: $text-color-light;

          &.empty {
            display: none;
          }
        }

        //&.access-status {
        //  margin-left: 8px;
        //
        //  &.closed,
        //  &.embargoed,
        //  &.restricted,
        //  &.subscription {
        //    background-color: #d04b4b;
        //
        //    &::before {
        //      font-weight: 400;
        //      content: "\f30d";
        //      padding-right: 6px;
        //    }
        //  }
        //
        //  &::before {
        //    display: inline-block;
        //    font-style: normal;
        //    font-variant: normal;
        //    text-rendering: auto;
        //    -webkit-font-smoothing: antialiased;
        //    font-family: $font-awesome-version;
        //  }
        //
        //  &.open,
        //  &.gold,
        //  &.gratis,
        //  &.green,
        //  &.libre {
        //    background-color: #29b153;
        //
        //    &::before {
        //      font-weight: 400;
        //      content: "\f3c2";
        //      padding-right: 6px;
        //    }
        //  }
        //}
      }
    }
  }
}
