@import "_media-query.scss";

.solr-search-content {
  &.solr-search-content--grid {
    .solr-search-row-content {
      margin: 0px auto;
      display: grid;
      padding-top: 15px;
      gap: 15px;
      list-style: outside none none;
      grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));

      &.col-lg-9,
      &.col-md-9 {
        padding-right: 0;
      }
    }
  }

  .container.footer-content {
    background-color: $white-base;
    padding-left: 0px;

    .solr-search-row-content {
      &.col-lg-12 {
        padding: 15px 0 0 0;
      }
    }
  }

  footer {
    padding: 0;
    margin-top: 15px;

    &:not(.hidden) {
      padding-right: 5px;
    }

    .block-block-groupsearch-facet-header {
      border: $sidebar-border;
      background-color: $off-white-base;
      -webkit-border-radius: 4px;
      -moz-border-radius: 4px;
      border-radius: 4px;
    }

    &.hidden {
      display: none;
    }
  }
}
